html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#nav-logo{
	height: 75px;
	margin: 10px 0px;
	float: left;
}

#navbar-title{
	line-height: 75px;
	margin: 10px 0px;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
	 padding: 10px 0px;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.above-form{
	display: none;
}


#rhs-buttons{
	float:right;
}

#floppy-icon{
	margin: 0px 5px 0px 0px;
	position: relative;
	top: 3px;
}

#lhs-btns{
	display: inline-block;
}

#minSelector, #itemSelector{
	display: inline-block;
}

#itemSelector .itemDelete{
	clear: right;
	width: 20%;
	float: right;
}

#itemSelector .itemSelect{
	clear: none;
	width: 70%;
	float: left;
}

#itemSelector li{
	clear:both;
}

#itemSelector .newItem{
	clear: both;
	width: 100%;
	float: none;
}

li.files{
  position: relative;
}
li.files span.delete{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  color: white;
  vertical-align: bottom;
  padding: 15px;
  background: #373743;
  border-radius: 0 0 0 3px;
  z-index:999999999;
}

#imageUploader{
  margin-top:40px;
  background: #373743;
  color: white;
  border-radius:3px;
  border: dashed #888 2px;
}

#imageUploader.dz-drag-hover{
  background:#42424E;
  border: solid #FFF 2px;
}

.filemanager .breadcrumbs{
  display: none;
}

.form-header{
  width: 80%;
  margin: 40px auto;
  height: 200px;
}

#imageSelector{
  margin-top:40px;
  color: white;
  border: solid #FFF 2px;
  border-radius:3px;
  min-height: 150px;
}

#imageSelector .row{
  margin: 20px 0 0;
}

#imageSelector label{
  
}

#imageSelector .dimensions input{
  width: 40%;
  margin-left: 15px;
  color: #888;
}

.choose{
  width: 80%;
  margin: auto;
  background: #373743;
  color: white;
  text-align: center;
  margin-top:40px;
  padding:20px;
  border-radius: 3px; 
  height: 150px;
  position: relative;
}

.choose:hover{
  background:#42424E;
  cursor:pointer;
}

.choose span{
  display: inline-block;
  position:absolute;
  top:35%;
  width:100%;
  text-align: center;
  font-weight: bold;
  left: 0px;
}

#poster-logo{
  float: left;
  max-height: 150px;
}

#poster-title{
  line-height: 100px;
  margin: 10px 0px;
  font-size: 40px;
}

#qrcode{
  margin: 30px 0 100px;
  display: inline-block;
}
.poster-body{
  text-align: center;
}
.museum-trails{
  text-align: center;
  margin-top: 50px;
}

